In [ ]:
!gdown 14FHprqZshcziHBgal72i28kbmqzhEY1M

Downloading...
From: https://drive.google.com/uc?id=14FHprqZshcziHBgal72i28kbmqzhEY1M
To: /content/movie.db
100% 2.53M/2.53M [00:00<00:00, 127MB/s]

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
db = sqlite3.connect('movie.db')

# อันดับคะแนนของหนังในแต่ละประเภท และได้คะแนนเท่าไหร่

In [ ]:
sql =''' SELECT title, genres.name AS genres, vote_average
FROM movie, genres, movie_genres
WHERE movie.id=movie_genres.movie_id
AND genres.id=movie_genres.genres_id
ORDER BY vote_average DESC
'''
df_movie_gen = pd.read_sql(sql, db)

movie_gen = {}
ls_genres = df_movie_gen['genres'].unique().tolist()
for gen in ls_genres:
  index = df_movie_gen.genres == gen
  movie_gen[gen] = df_movie_gen[index]

In [ ]:
movie_gen["Comedy"].iloc[:5]

                                      title  genres  vote_average
0   Luccas Neto em: Acampamento de Férias 2  Comedy         9.200
3                              Dear Dracula  Comedy         8.900
21                       Vir Das: For India  Comedy         8.400
46                  Bill Hicks: Revelations  Comedy         8.161
51                     Como caído del cielo  Comedy         8.158

In [ ]:
movie_gen["Family"].iloc[:5]

                                                 title  genres  vote_average
1                                         Dear Dracula  Family         8.900
60                                       Seven Sundays  Family         8.091
65                                         Punjab 1984  Family         8.000
92                      The Boy Who Harnessed the Wind  Family         7.938
108  Walt Disney Animation Studios Short Films Coll...  Family         7.900

In [ ]:
movie_gen["Animation"].iloc[:5]

,title,genres,vote_average
2,Dear Dracula,Animation,8.900
18,Spider-Man: Into the Spider-Verse,Animation,8.406
103,Monster High: Why Do Ghouls Fall in Love?,Animation,7.906
110,Walt Disney Animation Studios Short Films Coll...,Animation,7.900
116,The Breadwinner,Animation,7.900

In [ ]:
movie_gen["Documentary"].iloc[:5]

,title,genres,vote_average
4,"Best Wishes, Warmest Regards: A Schitt's Creek...",Documentary,8.900
8,David Attenborough: A Life on Our Planet,Documentary,8.524
23,One Direction: This Is Us,Documentary,8.391
39,Shawn Mendes: In Wonder,Documentary,8.200
55,Senna,Documentary,8.103

In [ ]:
movie_gen["War"].iloc[:5]

                    title genres  vote_average
5        Schindler's List    War         8.567
34   Inglourious Basterds    War         8.212
79                Virunga    War         7.990
115       The Breadwinner    War         7.900
179               Platoon    War         7.745

In [ ]:
movie_gen["Drama"].iloc[:5]

                   title genres  vote_average
6       Schindler's List  Drama         8.567
15            GoodFellas  Drama         8.466
30    American History X  Drama         8.359
35  Inglourious Basterds  Drama         8.212
37           Like Arrows  Drama         8.200

In [ ]:
movie_gen["History"].iloc[:5]

                             title   genres  vote_average
7                 Schindler's List  History         8.567
67                     Punjab 1984  History         8.000
91                     Raging Bull  History         7.971
94  The Boy Who Harnessed the Wind  History         7.938
96              Dallas Buyers Club  History         7.934

In [ ]:
movie_gen["Music"].iloc[:5]

                          title genres  vote_average
9   Hans Zimmer: Live in Prague  Music         8.500
22    One Direction: This Is Us  Music         8.391
38      Shawn Mendes: In Wonder  Music         8.200
49         Como caído del cielo  Music         8.158
57       Bo Burnham: Make Happy  Music         8.100

In [ ]:
movie_gen["Thriller"].iloc[:5]

                    title    genres  vote_average
10           Pulp Fiction  Thriller         8.490
36   Inglourious Basterds  Thriller         8.212
44           The Departed  Thriller         8.165
106        V for Vendetta  Thriller         7.900
123     Kill Bill: Vol. 2  Thriller         7.878

In [ ]:
movie_gen["Crime"].iloc[:5]

                                  title genres  vote_average
11                         Pulp Fiction  Crime         8.490
16                           GoodFellas  Crime         8.466
45                         The Departed  Crime         8.165
53  Lock, Stock and Two Smoking Barrels  Crime         8.138
87                        Trainspotting  Crime         7.972

In [ ]:
movie_gen["Adventure"].iloc[:5]

                                            title     genres  vote_average
12  The Lord of the Rings: The Return of the King  Adventure         8.474
17              Spider-Man: Into the Spider-Verse  Adventure         8.406
24          The Lord of the Rings: The Two Towers  Adventure         8.375
27                                      Inception  Adventure         8.362
31                         Avengers: Infinity War  Adventure         8.263

In [ ]:
movie_gen["Fantasy"].iloc[:5]

                                                 title   genres  vote_average
13       The Lord of the Rings: The Return of the King  Fantasy         8.474
25               The Lord of the Rings: The Two Towers  Fantasy         8.375
102          Monster High: Why Do Ghouls Fall in Love?  Fantasy         7.906
109  Walt Disney Animation Studios Short Films Coll...  Fantasy         7.900
138                                           Coraline  Fantasy         7.815

In [ ]:
movie_gen["Action"].iloc[:5]

                                            title  genres  vote_average
14  The Lord of the Rings: The Return of the King  Action         8.474
19              Spider-Man: Into the Spider-Verse  Action         8.406
26          The Lord of the Rings: The Two Towers  Action         8.375
28                                      Inception  Action         8.362
32                         Avengers: Infinity War  Action         8.263

In [ ]:
movie_gen["Science Fiction"].iloc[:5]

                                 title           genres  vote_average
20   Spider-Man: Into the Spider-Verse  Science Fiction         8.406
29                           Inception  Science Fiction         8.362
33              Avengers: Infinity War  Science Fiction         8.263
41                          The Matrix  Science Fiction         8.198
107                     V for Vendetta  Science Fiction         7.900

In [ ]:
movie_gen["Western"].iloc[:5]

                             title   genres  vote_average
48                Django Unchained  Western         8.161
185              The Hateful Eight  Western         7.743
510                      True Grit  Western         7.304
719   The Ballad of Buster Scruggs  Western         7.153
1048                      Hostiles  Western         6.914

In [ ]:
movie_gen["Romance"].iloc[:5]

                  title   genres  vote_average
132         Love, Rosie  Romance         7.834
141     The Sky Is Pink  Romance         7.807
155           Kita Kita  Romance         7.800
160  Faith, Hope & Love  Romance         7.800
166   God's Own Country  Romance         7.770

In [ ]:
movie_gen["Horror"].iloc[:5]

                           title  genres  vote_average
135              Rosemary's Baby  Horror         7.823
239  Scooby-Doo on Zombie Island  Horror         7.681
319                The Conjuring  Horror         7.537
474     Tucker and Dale vs. Evil  Horror         7.350
507                The Evil Dead  Horror         7.304

In [ ]:
movie_gen["Mystery"].iloc[:5]

                               title   genres  vote_average
178                     Mystic River  Mystery         7.746
186                The Hateful Eight  Mystery         7.743
240      Scooby-Doo on Zombie Island  Mystery         7.681
436                 Tell Me Who I Am  Mystery         7.400
468  The Girl with the Dragon Tattoo  Mystery         7.359

In [ ]:
movie_gen["TV Movie"].iloc[:5]

                                               title    genres  vote_average
203                                   Big Time Movie  TV Movie         7.700
234                          Eddie Murphy: Delirious  TV Movie         7.684
264  Sebastian Maniscalco: What's Wrong with People?  TV Movie         7.619
362                       Don't Go Breaking My Heart  TV Movie         7.500
823                     Trevor Noah: Son of Patricia  TV Movie         7.095

# อันดับจำนวนหนังที่เเสดงของนักแสดงในหนังแต่ละประเภท เเละได้คะเเนนเฉลี่ยเท่าไหร่

In [ ]:
sql =''' SELECT genres.name AS genres, caster.name AS caster, AVG(vote_average) AS vote_average, COUNT(*) AS number_of_movies
FROM movie, genres, movie_genres, caster, movie_caster
WHERE movie.id=movie_genres.movie_id
AND genres.id=movie_genres.genres_id
AND movie.id=movie_caster.movie_id
AND caster.id=movie_caster.cast_id
GROUP BY genres.name, caster.name
ORDER BY number_of_movies DESC
'''
df_cast_gen = pd.read_sql(sql, db)

cast_gen = {}
ls_genres = df_cast_gen['genres'].unique().tolist()

for gen in ls_genres:
  index = df_cast_gen.genres == gen
  cast_gen[gen] = df_cast_gen[index]

In [ ]:
#all genres
df_cast_gen.head(5)

      genres           caster  vote_average  number_of_movies
0  Animation  Fred Tatasciore      6.499067                15
1     Comedy     Adam Sandler      6.019267                15
2  Animation     Kate Higgins      7.171154                13
3     Comedy     Fred Armisen      5.771077                13
4     Comedy     Maya Rudolph      6.252923                13

In [ ]:
cast_gen["Animation"].iloc[:5]

      genres           caster  vote_average  number_of_movies
0  Animation  Fred Tatasciore      6.499067                15
2  Animation     Kate Higgins      7.171154                13
7  Animation  Debi Derryberry      7.122417                12
8  Animation     Laura Bailey      7.185083                12
9  Animation      Tara Strong      6.764583                12

In [ ]:
cast_gen["Comedy"].iloc[:5]

    genres        caster  vote_average  number_of_movies
1   Comedy  Adam Sandler      6.019267                15
3   Comedy  Fred Armisen      5.771077                13
4   Comedy  Maya Rudolph      6.252923                13
10  Comedy    Chris Rock      6.114000                12
13  Comedy  Allen Covert      6.051000                11

In [ ]:
cast_gen["Family"].iloc[:5]

    genres           caster  vote_average  number_of_movies
5   Family  Debi Derryberry      7.020308                13
6   Family     Frank Welker      6.165692                13
25  Family       Cam Clarke      7.323200                10
26  Family  Fred Tatasciore      6.472600                10
27  Family     Kate Higgins      7.128300                10

In [ ]:
cast_gen["Adventure"].iloc[:5]

        genres          caster  vote_average  number_of_movies
19   Adventure     John Cleese      6.081900                10
109  Adventure     Andy Serkis      7.322500                 6
110  Adventure  Cate Blanchett      7.431667                 6
111  Adventure    Frank Welker      6.270000                 6
112  Adventure    Jim Cummings      6.626167                 6

In [ ]:
cast_gen["Documentary"].iloc[:5]

          genres           caster  vote_average  number_of_movies
42   Documentary     Bill Clinton      7.365444                 9
62   Documentary     Donald Trump      6.994375                 8
94   Documentary     Barack Obama      7.171571                 7
287  Documentary  Hillary Clinton      7.218400                 5
288  Documentary    Oprah Winfrey      7.423200                 5

In [ ]:
cast_gen["Drama"].iloc[:5]

   genres             caster  vote_average  number_of_movies
43  Drama  Samuel L. Jackson      7.445444                 9
63  Drama       James Franco      6.134375                 8
64  Drama         Matt Damon      6.998625                 8
95  Drama         Ajay Devgn      6.376857                 7
96  Drama     Robert De Niro      7.364143                 7

In [ ]:
cast_gen["Action"].iloc[:5]

    genres             caster  vote_average  number_of_movies
45  Action       Bruce Willis      6.008250                 8
46  Action         Sam Medina      5.781625                 8
70  Action        Danny Trejo      5.733714                 7
71  Action   Michael Papajohn      6.315714                 7
72  Action  Samuel L. Jackson      6.715714                 7

In [ ]:
cast_gen["Crime"].iloc[:5]

    genres             caster  vote_average  number_of_movies
61   Crime  Samuel L. Jackson      7.161125                 8
93   Crime       Bruce Willis      6.389714                 7
164  Crime         Matt Damon      6.955333                 6
281  Crime         Ajay Devgn      6.522800                 5
282  Crime      John Travolta      6.502000                 5

In [ ]:
cast_gen["Thriller"].iloc[:5]

       genres            caster  vote_average  number_of_movies
69   Thriller      Bruce Willis      6.329750                 8
191  Thriller    Chris Browning      6.310000                 6
192  Thriller       Halle Berry      6.182833                 6
193  Thriller       Matt Gerald      6.212333                 6
194  Thriller  Michael Papajohn      6.592500                 6

In [ ]:
cast_gen["Fantasy"].iloc[:5]

      genres           caster  vote_average  number_of_movies
101  Fantasy  Debi Derryberry      7.050857                 7
102  Fantasy     Laura Bailey      7.112714                 7
187  Fantasy     Kate Higgins      7.064833                 6
188  Fantasy   Salli Saffioti      6.975833                 6
344  Fantasy    America Young      7.301200                 5

In [ ]:
cast_gen["Romance"].iloc[:5]

      genres            caster  vote_average  number_of_movies
103  Romance  Kathryn Bernardo      6.544429                 7
189  Romance    Daniel Padilla      6.581000                 6
190  Romance     Joross Gamboa      6.407833                 6
766  Romance        Aamir Khan      6.530250                 4
767  Romance       Anil Kapoor      5.712500                 4

In [ ]:
cast_gen["Science Fiction"].iloc[:5]

              genres              caster  vote_average  number_of_movies
350  Science Fiction        Hugo Weaving       7.33960                 5
351  Science Fiction            Stan Lee       7.72500                 5
778  Science Fiction        Clint Howard       6.33900                 4
779  Science Fiction        Keanu Reeves       6.78225                 4
780  Science Fiction  Laurence Fishburne       7.22250                 4

In [ ]:
cast_gen["Horror"].iloc[:5]

      genres         caster  vote_average  number_of_movies
762   Horror   Lucy Boynton      5.473250                 4
763   Horror  Michael Gross      5.948750                 4
764   Horror  Nathan Cooper      5.579250                 4
1955  Horror     Ali Larter      5.949000                 3
1956  Horror  Andrew Airlie      5.922667                 3

In [ ]:
cast_gen["Music"].iloc[:5]

     genres            caster  vote_average  number_of_movies
765   Music        Snoop Dogg      6.410000                 4
1962  Music    Allen Ginsberg      7.308333                 3
1963  Music  Anthony DeCurtis      6.788667                 3
1964  Music        Brian Hull      5.833333                 3
1965  Music    Carlos Santana      7.013667                 3

In [ ]:
cast_gen["Western"].iloc[:5]

       genres          caster  vote_average  number_of_movies
808   Western      Bruce Dern       6.76925                 4
8636  Western   Austin Rising       7.03350                 2
8637  Western   Belinda Owino       7.95200                 2
8638  Western  Ben Mendelsohn       6.66150                 2
8639  Western     Craig Stark       7.95200                 2

In [ ]:
cast_gen["History"].iloc[:5]

       genres            caster  vote_average  number_of_movies
1954  History      Ben Kingsley        7.5900                 3
7124  History   Alan Dershowitz        6.6000                 2
7125  History  Aleksa Palladino        7.2625                 2
7126  History       Alvin Anson        7.0880                 2
7127  History   Anthony Andrews        7.4605                 2

In [ ]:
cast_gen["Mystery"].iloc[:5]

       genres               caster  vote_average  number_of_movies
1988  Mystery        Alfred Molina      6.597667                 3
1989  Mystery          Bob Balaban      5.645333                 3
1990  Mystery  Christopher Plummer      6.777333                 3
1991  Mystery     Eric Shackelford      6.097667                 3
1992  Mystery         Riley Keough      5.675333                 3

In [ ]:
cast_gen["TV Movie"].iloc[:5]

        genres              caster  vote_average  number_of_movies
2066  TV Movie      Joseph Cannata      5.900000                 3
2067  TV Movie     Melinda Shankar      5.347000                 3
2068  TV Movie  Samuel Patrick Chu      6.478333                 3
7977  TV Movie        Adam DiMarco      6.183500                 2
7978  TV Movie             Andy Yu      5.550000                 2

In [ ]:
cast_gen["War"].iloc[:5]

     genres          caster  vote_average  number_of_movies
2171    War    Ben Kingsley      7.031667                 3
2172    War        Dale Dye      6.307000                 3
2173    War  Robert Patrick      5.704333                 3
8607    War     Alvin Anson      7.088000                 2
8608    War  Anthony Milner      7.233000                 2

# อันดับจำนวนหนังที่กำกับของผู้กำกับในหนังแต่ละประเภท เเละได้คะเเนนเฉลี่ยเท่าไหร่

In [ ]:
mcsql = '''SELECT genres.name AS genres, director.name AS director, AVG(vote_average) AS vote_average, COUNT(*) AS number_of_movies
FROM movie, director, movie_drt, movie_genres, genres
WHERE movie_drt.drt_id = director.id
AND movie.id = movie_drt.movie_id
AND movie.id = movie_genres.movie_id
AND genres.id = movie_genres.genres_id
GROUP BY genres, director
ORDER BY number_of_movies DESC
'''
df_drt_gen = pd.read_sql(mcsql, db)

drt_gen = {}
ls_genres = df_drt_gen['genres'].unique().tolist()

for gen in ls_genres:
  index = df_drt_gen.genres == gen
  drt_gen[gen] = df_drt_gen[index]

In [ ]:
drt_gen["Comedy"].iloc[:5]

   genres      director  vote_average  number_of_movies
0  Comedy  Marcus Raboy      6.482071                14
1  Comedy     Jay Karas      6.707364                11
2  Comedy   Jay Chapman      6.275429                 7
3  Comedy  Leslie Small      6.225857                 7
4  Comedy   Ryan Polito      6.936000                 7

In [ ]:
drt_gen["Documentary"].iloc[:5]

          genres       director  vote_average  number_of_movies
6    Documentary     Vlad Yudin      6.800000                 6
71   Documentary  Werner Herzog      6.928333                 3
197  Documentary   Adam Carolla      7.050000                 2
198  Documentary      Jon Shenk      7.450000                 2
199  Documentary    Keegan Kuhn      7.343500                 2

In [ ]:
drt_gen["Drama"].iloc[:5]

   genres             director  vote_average  number_of_movies
7   Drama      Martin Scorsese      7.718833                 6
15  Drama  Cathy Garcia-Molina      6.991200                 5
16  Drama        Noah Baumbach      6.617800                 5
34  Drama       Clint Eastwood      7.435750                 4
35  Drama    Quentin Tarantino      7.867250                 4

In [ ]:
drt_gen["Adventure"].iloc[:5]

        genres          director  vote_average  number_of_movies
8    Adventure  Steven Spielberg        6.9672                 5
25   Adventure       Rob Minkoff        6.2755                 4
26   Adventure     Terry Gilliam        6.7990                 4
45   Adventure  Robert Rodriguez        5.4910                 3
105  Adventure    Lana Wachowski        6.8655                 2

In [ ]:
drt_gen["Family"].iloc[:5]

    genres          director  vote_average  number_of_movies
17  Family      Robert Vince      5.660000                 5
36  Family  Robert Rodriguez      5.296000                 4
37  Family       William Lau      7.358500                 4
80  Family   Mark A.Z. Dippé      5.333333                 3
81  Family      Raja Gosnell      6.117000                 3

In [ ]:
drt_gen["Romance"].iloc[:5]

      genres             director  vote_average  number_of_movies
18   Romance  Cathy Garcia-Molina       6.63560                 5
19   Romance       Justin G. Dyck       5.72000                 5
38   Romance     Mae Czarina Cruz       6.65875                 4
320  Romance            Pidi Baiq       7.20000                 2
321  Romance        Adam Shankman       7.30900                 2

In [ ]:
drt_gen["TV Movie"].iloc[:5]

        genres              director  vote_average  number_of_movies
20    TV Movie        Justin G. Dyck        5.7200                 5
344   TV Movie  Savage Steve Holland        6.8000                 2
345   TV Movie         Sofia Coppola        4.9625                 2
3897  TV Movie        Cosmo Segurson        6.7000                 1
3898  TV Movie        Joseph Sargent        7.0000                 1

In [ ]:
drt_gen["Action"].iloc[:5]

    genres          director  vote_average  number_of_movies
21  Action               McG      5.882250                 4
22  Action  Robert Rodriguez      5.415000                 4
23  Action           Sam Liu      6.638000                 4
24  Action  Steven Spielberg      7.100000                 4
42  Action    Lana Wachowski      7.309667                 3

In [ ]:
drt_gen["Animation"].iloc[:5]

        genres           director  vote_average  number_of_movies
9    Animation        William Lau      7.433200                 5
27   Animation            Sam Liu      6.638000                 4
46   Animation    Mark A.Z. Dippé      5.333333                 3
117  Animation        Steve Sacks      7.353000                 2
118  Animation  Chad Van De Keere      8.200000                 2

In [ ]:
drt_gen["Crime"].iloc[:5]

   genres           director  vote_average  number_of_movies
32  Crime    Martin Scorsese      7.842500                 4
33  Crime  Quentin Tarantino      7.923000                 4
68  Crime          Jay Roach      6.263667                 3
69  Crime    Jeremy Saulnier      5.711333                 3
70  Crime  Steven Soderbergh      6.461333                 3

In [ ]:
drt_gen["Thriller"].iloc[:5]

       genres           director  vote_average  number_of_movies
41   Thriller  Quentin Tarantino       7.98325                 4
346  Thriller     Lana Wachowski       6.86550                 2
347  Thriller      Antoine Fuqua       6.34300                 2
348  Thriller     Clint Eastwood       7.05450                 2
349  Thriller         Dan Gilroy       6.52750                 2

In [ ]:
drt_gen["Music"].iloc[:5]

    genres         director  vote_average  number_of_movies
86   Music     Robert Vince      5.833333                 3
310  Music   Akiva Schaffer      6.250000                 2
311  Music   Bille Woodruff      6.703000                 2
312  Music      Brian Oakes      6.600000                 2
313  Music       Jon M. Chu      5.370000                 2

In [ ]:
drt_gen["Science Fiction"].iloc[:5]

              genres          director  vote_average  number_of_movies
39   Science Fiction    Lana Wachowski      7.199500                 4
40   Science Fiction   Lilly Wachowski      7.199500                 4
87   Science Fiction         Jay Roach      6.263667                 3
338  Science Fiction  Barry Sonnenfeld      5.835000                 2
339  Science Fiction      Bong Joon Ho      7.149000                 2

In [ ]:
drt_gen["Fantasy"].iloc[:5]

      genres            director  vote_average  number_of_movies
85   Fantasy       Terry Gilliam      6.656667                 3
292  Fantasy            Frank Oz      6.769000                 2
293  Fantasy  M. Night Shyamalan      5.130000                 2
294  Fantasy       Peter Jackson      8.424500                 2
295  Fantasy        Raja Gosnell      5.775500                 2

In [ ]:
drt_gen["History"].iloc[:5]

       genres          director  vote_average  number_of_movies
298   History  John Lee Hancock         7.200                 2
299   History   Martin Scorsese         7.798                 2
300   History      Oliver Stone         6.618                 2
3140  History      Andrew Meier         6.500                 1
3141  History        Carol Reed         7.400                 1

In [ ]:
drt_gen["Horror"].iloc[:5]

     genres             director  vote_average  number_of_movies
301  Horror         Daniel Stamm        5.9595                 2
302  Horror  Darren Lynn Bousman        5.3000                 2
303  Horror       David R. Ellis        5.9020                 2
304  Horror            Eli Craig        6.4865                 2
305  Horror        Mike Flanagan        6.4255                 2

In [ ]:
drt_gen["Mystery"].iloc[:5]

       genres              director  vote_average  number_of_movies
316   Mystery      Daniel Alfredson        5.6430                 2
317   Mystery        David R. Ellis        5.9020                 2
318   Mystery            Ron Howard        6.7060                 2
319   Mystery            Wes Craven        6.2095                 2
3462  Mystery   Abhinav Shiv Tiwari        5.7000                 1

In [ ]:
drt_gen["War"].iloc[:5]

     genres               director  vote_average  number_of_movies
372     War            Frank Capra         6.500                 2
373     War              John Ford         5.800                 2
374     War  Orlando von Einsiedel         7.682                 2
375     War       Steven Spielberg         7.932                 2
4246    War         Anatole Litvak         6.700                 1

In [ ]:
drt_gen["Western"].iloc[:5]

       genres           director  vote_average  number_of_movies
376   Western  Quentin Tarantino         7.952                 2
4289  Western         Ethan Coen         7.153                 1
4290  Western        Simon Wells         6.348                 1
4291  Western   Barry Sonnenfeld         5.317                 1
4292  Western       Frank Coraci         5.159                 1

# นักแสดงคู่ใจของผู้กำกับ

In [ ]:
sql = ''' SELECT director.name AS director, caster.name AS caster, COUNT(*) AS number_of_movies
FROM director, caster, movie, movie_caster, movie_drt
WHERE movie_drt.drt_id = director.id
AND movie.id = movie_drt.movie_id
AND caster.id = movie_caster.cast_id
AND movie.id = movie_caster.movie_id
GROUP BY director, caster
ORDER BY number_of_movies DESC
'''

df_drt_cast = pd.read_sql(sql, db)

In [ ]:
df_drt_cast.head(10)

            director             caster  number_of_movies
0  Quentin Tarantino  Samuel L. Jackson                 6
1       Leslie Small         Kevin Hart                 5
2  Quentin Tarantino  Quentin Tarantino                 5
3       Robert Vince     Danny Woodburn                 5
4       Robert Vince  John Ratzenberger                 5
5       Robert Vince    Jonathan Mangum                 5
6       Robert Vince      Kaitlyn Maher                 5
7        William Lau       Kate Higgins                 5
8     Lana Wachowski       Hugo Weaving                 4
9        Kevin Smith        Jason Mewes                 4

# อันดับจำนวนหนังที่ผู้กำกับเล่นด้วยตัวเอง

In [ ]:
index = df_drt_cast.apply(lambda x: x["director"]==x["caster"], axis=1)
df_drt_drt = df_drt_cast[index]

In [ ]:
df_drt_drt.head(10)

               director              caster  number_of_movies
2     Quentin Tarantino   Quentin Tarantino                 5
50          Kevin Smith         Kevin Smith                 3
61      Martin Scorsese     Martin Scorsese                 3
79        Ricky Gervais       Ricky Gervais                 3
101  Sylvester Stallone  Sylvester Stallone                 3
115      Yılmaz Erdoğan      Yılmaz Erdoğan                 3
193          Adam McKay          Adam McKay                 2
222          Cem Yılmaz          Cem Yılmaz                 2
233      Clint Eastwood      Clint Eastwood                 2
286           Eli Craig           Eli Craig                 2

# อันดับของประเทศที่ผลิตหนังมากที่สุด

In [ ]:
sql = ''' SELECT countries.name AS country, COUNT(*) AS number_of_movies
FROM countries, movie, movie_ct
WHERE movie.id = movie_ct.movie_id
AND movie_ct.countries_id = countries.iso_3166_1
GROUP BY country
ORDER BY number_of_movies DESC
'''

df_movie_ct = pd.read_sql(sql, db)
df_movie_ct.head(10)

                    country  number_of_movies
0  United States of America              1428
1            United Kingdom               229
2                    Canada               139
3                     India               123
4                    France                71
5                   Germany                66
6                 Australia                35
7                    Turkey                25
8                   Ireland                25
9               Philippines                24

# จำนวนปีที่มีหนังมากที่สุด

In [ ]:
sql ='''SELECT release_year AS year ,COUNT(*) AS number_of_movies
FROM movie
GROUP BY release_year
ORDER BY number_of_movies DESC'''
df_year = pd.read_sql(sql, db)

In [ ]:
df_year.head(10)

   year  number_of_movies
0  2017               306
1  2018               264
2  2016               252
3  2019               200
4  2020               162
5  2015               152
6  2014                95
7  2013                69
8  2012                60
9  2010                56